.post-single > .column {
  margin-right: -0.75rem;
  border: 0 solid #000;
}

.post-single .column:last-child {
  background-color: #fff;
  & > .media {
    padding: 0.75rem 0;
    border-bottom: 1px solid #DAD7D7;
  }

  & > .media figure img {
    border-radius: 50%;
  }

  position: relative;

  & .comment-form {
    position: absolute;
    bottom: 2rem;
    width: calc(100% - 0.75rem * 2);
  }
}

.comments-list {
  height: 290px;
  overflow-y: scroll;
}
