.droplist {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  border: 0 solid #000;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50%;
}

.droplist .results {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
  display: block;
  left: 50%;
  margin-left: -121px;
  position: absolute;
  right: -12px;
  top: 6px;
  width: 243px;
  z-index: 3;
}

.results:after {
  content: '';
  position: absolute;
  border-color: transparent transparent #fff;
  border-style: solid;
  border-width: 0 14px 14px;
  height: 0;
  width: 0;
  left: 106px;
  top: -8px;
  z-index: 3;
}

.results ul {
  display: flex;
  position: relative;
  align-items: stretch;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;  
  max-height: 362px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.triangle-icon {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
  height: 14px;
  width: 14px;
  left: 0;
  right: 0;
  margin: auto;
  top: 12px;
  transform: rotate(45deg);
  z-index: 1;

  &:after {
    content: ' ';
    position: absolute;
  }
}
